<%= form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select(:category_id, Category.all.collect {|c| [ c.title, c.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
    <%= f.label :desc, 'Description' %><br />
    <%= f.text_area :desc,
                    :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time1 %><br />
    <%= f.select :time1, 1..12, {:include_blank => true, :default => nil} %>
    <%= f.select :time2, ['00', '15', '30', '45'], {:include_blank => true, :default => nil} %>
    <%= f.select :time3, ['am', 'pm'], {:include_blank => true, :default => nil} %>
  </div>


  <div class="slots">
    <h4>Sign-Up Slots</h4>
    <button id="new_slot" class="btn btn-success">
      Add Slot
    </button>
    <%= f.fields_for :slots do |s| %>
    <div class ="slot">
      <%= link_to 'Remove Slot', s.object, method: :delete, :class=> 'btn btn-danger remove_slot' %>
      <%= s.text_field :name %>
    </div>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Post Need', :class => 'btn submit btn-primary', :id => 'post_need' %>
  </div>
<% end %>
