<%= form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>

    <div class="field">
      <%= f.label :title, 'Title (Required)' %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br />
      <%= f.collection_select :category_id, Category.all, :id, :title, :include_blank => 'None' %>
    </div>
    <div class="field">
      <%= f.label :date, 'Date (Required)' %><br />
      <%= f.text_field :date, :class => "date-query", 'data-datepicker' => "datepicker" %>
    </div>
    <div class="field">
      <%= f.label :time1, 'Time' %><br />
      <%= f.select :time1, 1..12, {:include_blank => true, :default => nil} %>
      <%= f.select :time2, ['00', '15', '30', '45'], {:include_blank => true, :default => nil} %>
      <%= f.select :time3, ['am', 'pm'], {:include_blank => true, :default => nil} %>
    </div>
    <div class="field">
      <%= f.label :desc, 'Description' %><br />
      <%= f.text_area :desc,
                      :rows => 5 %>
    </div>


    <div class="slots">
      <label>Sign Up Slots With Optional Notes</label>
      <br />
      <button id="new_slot" class="btn btn-success">
        Add Slot
      </button>
      <%= f.fields_for :slots do |s| %>
      <div class ="slot">
        <%= link_to 'Remove Slot', s.object, method: :delete, :class=> 'btn btn-danger remove_slot' %>
        <%= s.text_field :note, :placeholder => 'Note' %>
        <%= s.text_field :name, :placeholder => 'Name' %>
      </div>
    <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Post Need', :class => 'btn submit btn-primary', :id => 'post_need' %>
    </div>
  <% end %>
<% end %>
