<%= form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>


  <div class="slots">
    <%= f.fields_for :slots do |s| %>
    <div class ="slot">
      <%= s.label :name %>
      <%= s.text_field :name %>
    </div>
  <% end %>
  </div>

  <button id="new_slot">
    Add Slot
  </button>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
