<% body_id 'index' %>
<% body_class 'needs' %>

<% @needs.each do |need| %>
  <div class="need">
    <%= form_for(need) do |form| %>
    <div class="slots">
      <h5>Sign Up to Help</h5>
      <%= form.fields_for :slots do |slot| %>
        <div class ="slot">
          <% if slot.object.name > '' %>
            <%= slot.text_field :name, :readOnly => 'true', :class=> 'text' %>
          <% else %>
            <%= slot.text_field :name, :class=> 'text' %>
            <%= form.submit 'Sign Up', :class => 'btn' %>
          <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
    <h3 class="title"><%= need.title %></h3>
    <span class="date"> - <%= need.date %></span>
    <div class="desc"><%= need.desc %></div>
  </div>
<% end %>
