<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @need.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @need.desc %>
</p>

<p>
  <b>Datetime1:</b>
  <%= @need.datetime1 %>
</p>

<p>
  <b>Slots</b>
  <%= @need.slots.first.name if @need.slots.any? %>
</p>



<%= link_to 'Edit', edit_need_path(@need) %> |
<%= link_to 'Back', needs_path %>
