<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @need.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @need.desc %>
</p>

<p>
  <b>Date:</b>
  <%= @need.date %>
</p>

<div>
  <b>Slots</b>
	<% @need.slots.each do |slot| %>
	<p>
	  <%= slot.notes %> - <%= slot.name %>
	</p>
	<% end %>
</div>


<%= link_to 'Edit', edit_need_path(@need) %> |
<%= link_to 'Back', needs_path %>
